name: linux-tests

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        # Python 3.3 and 3.4 have been removed since github won't provide these anymore
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9, "3.10", 'pypy-3.6', 'pypy-3.7', 'pypy-3.8']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f configparser_crypt/requirements.txt ]; then pip install -r configparser_crypt/requirements.txt; fi
    - name: Execute tests and generate coverage report
      run: |
        pip install pytest coverage
        python -m coverage run -m pytest -s tests
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
